<header class="content-width">
  <div class="header">
    <div class="header__slot">
      <a routerLink="/"><img class="logo" src="/assets/logo.svg" alt="школа провизора"></a>
    </div>
    <div class="header__slot">
      <nav>
        <ul>
          <li><a href="#">Главная</a></li>
          <li><a href="#">Семинары</a></li>
          <li><a href="#">Помощь</a></li>
          <li><a href="#">Контакты</a></li>
        </ul>
      </nav>
    </div>
    <div class="header__slot">
      <button
        tuiButton
        type="button"
        icon="tuiIconLogIn"
        size="m"
      >
        Войти
      </button>
    </div>
  </div>
</header>

<main>

</main>

<footer class="content-width">
  <div class="footer">
    <div class="footer__nav">
      <div class="footer__slot">
        <a routerLink="/"><img class="logo" src="/assets/logo.svg" alt="школа провизора"></a>
      </div>
      <div class="footer__slot">
        <h3>Контакты</h3>
        <ul>
          <li><a href="#">8 (017) 260 36 31</a></li>
          <li><a href="#">8 (017) 516 80 08</a></li>
          <li><a href="#">minfarm@minfarm.by</a></li>
        </ul>
      </div>
      <div class="footer__slot">
        <h3>Навигация</h3>
        <ul>
          <li><a href="#">В начало</a></li>
          <li><a href="#">Семинары</a></li>
          <li><a href="#">Вход в систему</a></li>
        </ul>
      </div>
      <div class="footer__slot">
        <a class="main-site" href="#">
          <h3>Главный сайт</h3>
          <tui-svg
            class="tui-space_left-2"
            src="tuiIconArrowRightLarge"
          ></tui-svg>
        </a>
      </div>
    </div>
    <div class="footer__copyrights">
      <span>Все права защищены. © {{ year }} РУП «Минская Фармация»</span>
    </div>
  </div>
</footer>
